<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:color="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>数据库管理页面</title>
    <link href="css/demo.css" rel="stylesheet" type="text/css">
    <script src="./js/vue.js"></script>
    <script src="./js/axios.js"></script>
    <script src="./js/requestUrls.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

</head>

<body>

<section id="getintouch" class="flipInX animated">
    <div class="container" style="border-bottom: 0;">
        <h1>
            <span>数据库维护工具</span>
        </h1>
    </div>
    <div class="container">
        <form class="contact" method="POST" id="dbForm">
            <div class="row clearfix">
                <fieldset>
                    <legend class="optional">填写服务器信息</legend>
                    <div class="form-row-select">
                        <fieldset>
                            <legend class="optional">选择服务器</legend>
                            <label class="left" style="padding-bottom: 15px;">
                                <el-checkbox :indeterminate="flags.isIndeterminate" v-model="flags.checkAll"
                                             @change="handleCheckAllChange">全选
                                </el-checkbox>
                                <br/>
                                <div style="margin: 15px 0;"></div>
                                <el-checkbox-group v-model="infoInput.hostNameList" @change="handleCheckedHostChange">
                                    <el-checkbox-button v-for="item in hostNameListFe" :label="item"
                                                        :key="item">{{item}}
                                    </el-checkbox-button>
                                </el-checkbox-group>
                            </label>


                            <span v-show="flags.showFlag == 1" style="color:red;float:left"> !!!!不能为空!!!!</span>

                        </fieldset>

                        <div class="row clearfix">
                            <div class="lbl">
                                <label for="Database">选择database或输入&nbsp;</label>
                            </div>
                        </div>

                        <div class="row clearfix">

                            <el-select v-model="infoInput.database" placeholder="请选择db">
                                <el-option
                                        v-for="item in dbList"
                                        :key="item.value"
                                        :id="item.id"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                            <input type="text" id="Database" placeholder="grampus_crm" v-model="infoInput.database">

                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend class="optional">填写SQL+备注</legend>


                    <div class="row clearfix">
                        <div class="lbl">
                            <label for="sql">SQL<span v-show="flags.showFlag == 1"
                                                      style="color:red"> !!!!不能为空!!!!</span></label>
                            <br>
                        </div>
                        <div class="ctrl">
                            <textarea id="sql" rows="6" cols="10" v-model="infoInput.sqlStr"
                                      @blur.prevent="sqlFormat"></textarea>
                            <span style="font: message-box;color: #555555" v-html="resultInfo.queryResult">{{resultInfo.queryResult}}</span>
                        </div>
                    </div>


                    <div class="row clearfix">
                        <div class="lbl">
                            <label for="sql">备注</label>
                        </div>
                        <div class="ctrl">
                            <textarea id="comments" rows="6" cols="10"
                                      v-model="infoInput.comments"></textarea>
                            <span style="font: message-box;color: #555555">{{infoInput.comments}}</span>
                        </div>
                    </div>

                </fieldset>

                <div class="row  clearfix">
                    <div class="span10 offset2">
                        <el-button type="primary" :loading="flags.loading" @click="validationFun">执行</el-button>
                        <el-button type="reset" @click="resetInfoInput">清空</el-button>

                    </div>
                </div>
            </div>
        </form>


        <fieldset v-show="flags.resultShowFlag == 1">
            <legend class="optional">执行结果</legend>
            <div class="form-row-select-result" style=" padding-right: 20px;padding-left: 15px;"
                 v-for="resultItem in resultInfo.excuResultList">
                <fieldset>
                    <legend class="optional">{{resultItem.host}}</legend>
                    <span v-if="resultItem.msg == '执行成功'">执行结果: <span
                            style="color:green">{{resultItem.msg}}</span><br/></span>
                    <span v-if="resultItem.msg == '执行失败'">执行结果: <span
                            style="color:red">{{resultItem.msg}}</span><br/></span>
                    <span v-if="resultItem.error !=''">错误信息: <span
                            style="color:red">{{resultItem.error}}</span><br/></span>
                </fieldset>
            </div>
        </fieldset>

    </div>
</section>
<script>
    new Vue({
        el: '#getintouch',
        data: {
            flags: {
                showFlag: 0,
                resultShowFlag: 0,
                checkAll: false,
                isIndeterminate: true,
                loading: false,
            },

            hostNameListFe: ["beta1", "beta2", "beta3", "beta4", "beta5", "beta6", "beta7", "beta8"],
            dbList: [{
                id: "grampus",
                value: "grampus"
            }, {
                id: "grampus_crm",
                value: "grampus_crm"
            }, {
                id: "grampus_erp",
                value: "grampus_erp"
            }, {
                id: "bi_export",
                value: "bi_export"
            }, {
                id: "grampus_rep",
                value: "grampus_rep"
            }, {
                id: "grampus_oa",
                value: "grampus_oa"
            }, {
                id: "grampus_ccs",
                value: "grampus_ccs"
            }, {
                id: "grampus_cms",
                value: "grampus_cms"
            }, {
                id: "grampus_coupon",
                value: "grampus_coupon"
            }, {
                id: "grampus_ehs",
                value: "grampus_ehs"
            }, {
                id: "grampus_ess",
                value: "grampus_ess"
            }, {
                id: "grampus_marketing",
                value: "grampus_marketing"
            }, {
                id: "grampus_order",
                value: "grampus_order"
            }, {
                id: "grampus_pss",
                value: "grampus_pss"
            }, {
                id: "grampus_smart",
                value: "grampus_smart"
            }, {
                id: "grampus_user",
                value: "grampus_user"
            }, {
                id: "bms_production",
                value: "bms_production"
            }],

            url: urls[0].sqlExecute,
            url1: urls[1].sqlFormat,

            infoInput: {
                sqlStr: '',
                database: '',
                hostNameList: [],
                comments: '',
                sqlStrToFormat: ''

            },
            resultInfo: {
                resultHost: '',
                resultMsg: '',
                resultError: '',
                resultExcuResultMsg: '',
                excuResultList: [],

                queryResult: null
            },
        },
        methods: {
            validationFun() {
                this.flags.showFlag = 0;

                if (this.infoInput.hostNameList.length == 0 || this.infoInput.database == '' || this.infoInput.sqlStr == '') {
                    this.flags.showFlag = 1;
                    return;
                }
                this.flags.loading = true;
                this.sqlExecuteFun();
            },
            sqlExecuteFun() {
                var vm = this;
                axios.post(this.url, {
                    database: this.infoInput.database,
                    hostNameList: this.infoInput.hostNameList,
                    sqlStr: this.infoInput.sqlStr
                }).then(function (response) {
                    if (response.data.code == 0) {
                        vm.flags.loading = false;
                        vm.resultInfo.resultMsg = response.data.msg;
                        vm.resultInfo.excuResultList = response.data.excuResult;
                        vm.flags.resultShowFlag = 1;
                        vm.$message({
                            showClose: true,
                            message: vm.resultInfo.resultMsg + "，在页面下方查看执行结果",
                            type: 'success'
                        })
                        return;
                    }
                }).catch(function (error) {
                    vm.$message.error('失败咯');
                    return;
                })
            },
            resetInfoInput() {
                this.infoInput.comments = '';
                this.infoInput.database = '';
                this.infoInput.hostNameList = [];
                this.infoInput.sqlStr = '';
                this.resultInfo.queryResult = '';
                this.flags.resultShowFlag = 0;

            },
            handleCheckAllChange(val) {
                this.infoInput.hostNameList = val ? this.hostNameListFe : [];
                this.flags.isIndeterminate = false;
            },
            handleCheckedHostChange(value) {
                checkedCount = value.length;
                this.flags.checkAll = checkedCount === this.hostNameListFe.length;
                this.flags.isIndeterminate = checkedCount > 0 && checkedCount < this.hostNameListFe.length;
            },
            sqlFormat() {
                var vm = this;
                // debugger
                axios.post(this.url1, {
                    sqlStrToFormat: this.infoInput.sqlStr
                }).then(function (response) {
                    if (response.data.status == 1) {
                        vm.resultInfo.queryResult = response.data.result;

                        return;
                    }
                }).catch(function (error) {
                    vm.$message.error('失败咯22');
                    return;
                })
            },
        },
        created() {
        },

    })
</script>

</body>

</html>